.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.hero-content {
  z-index: 2;
}

.hero h1, .hero p {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.my-product-card {
  background-color: #eae0c8;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.my-product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.product-container {
  direction: rtl;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;

}

.my-product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.toast-message {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #28a745; 
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(20px);
}

.toast-message.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.profile-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 5px;
  z-index: 999;
  right: 0;
  text-align: right;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
